body {
    background-image: url("img/i1.jpg");
}

h1 {
    background-color: #ffc6ff;
    border-color: black;
    border-width: 4px;
    border-radius: 12px;
    border-style: solid;
    text-align: center;
}

img {
    height: 170px;
    margin-left: 2em;
    margin-right: auto;
    border-radius: 10px;
}

#G {
    width: 170px;
    margin-left: 4em;
    margin-right: auto;
}

p {
    text-align: justify;
    font-size: 17px;
}

.head {
    font-size: 2em;
    border: 3px solid #283618;
    background-color: #97c5f0;
}

.hea2 {
    font: 2em italic Arial, sans-seriff;
    background-color: #97c5f0;
}

.hea3 {
    font: 2em italic Arial, sans-seriff;
    background-color: #97c5f0;
}

table {
    border: 2px solid #283618;
    margin-left: 2em;
}

th,
td {
    border: 1px solid #283618;
    background-color: #bde0fe;
}

a {
    color: #ef476f;
}

a:hover {
    color: #5a189a;
}

a:visited {
    color: #7f5539;
}